.invisible{
  display: none;
}
img{
  width: 30%;
}
.main-div{
  text-align: center;
  margin-top:auto;
  margin-bottom: auto;
  margin-top:6%;
}

@media screen and (max-width: 992px) {
  img {
    width: 90%;
  }
}
